# Dependencies
node_modules
npm-debug.log

# Build output
dist

# Git
.git
.gitignore

# Environment files
.env
.env.*

# IDE
.vscode
.idea
*.swp
*.swo

# Test files
test
coverage
*.spec.ts

# Docs
*.md
!README.md

# Dev tools (safe to ignore)
.prettierrc
eslint.config.mjs
nest-cli.json
